<script src="app/lib/include/admin-all.min.js" type="text/javascript"></script>
<link href="app/lib/include/admin.min.css" rel="stylesheet" type="text/css" media="screen">
<link rel='stylesheet' href='app/lib/include/c3/c3.min.css'>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<script src='app/lib/include/c3/d3.min.js' type='text/javascript'></script>
<script src='app/lib/include/c3/c3.min.js' type='text/javascript'></script>
<link href="app/templates/{template}/css/style.css" rel="stylesheet" type="text/css" media="screen"/>
<link rel="stylesheet" type="text/css" href="app/templates/{template}/themes/default.css?time=1670533515" theme-style="">
<script src="app/templates/{template}/js/custom.js"></script>
<script src="app/templates/{template}/js/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>