:root {
--text-color-light: #ADB8CC;
--template-border-color: #2F3043;
--font-size: 15px;
--text-color: #8694B0;
--text-color-strong: #8694B0;
--font-family: 'Noto Sans',sans-serif;
--header-height: 60px;
--header-logo-background: #2F3043;
--header-background-color: #2F3043;
--menu-width: 280px;
--menu-background-color: #2F3043;
--menu-master-color-strong: #FFFFFF;
--menu-check-color: #FFFFFF;
--submenu-background-color: #2F3043;
--main-color: #6C2BF8;
--live-background-color: #252736;
--button-height: 35px;
--button-text-color: #C6C6C6;
--button-background: #2F3043;
--button-border-radius: 2px;
--button-padding: 13px;
--field-height: 35px;
--field-border-bottom: 3px;
--field-background: #2F3043;
--field-border-color: #2F3043;
--field-color: #FFFFFF;
--field-focus-border-color: #6C2BF8;
--field-placeholder-color: #DFE4ED;
--content-background: #252736;
--content-border-color: #252736;
--panel-background: #252837;
--modal-background: #252736;
--submenu-sub-text-color: #C6C6C6;
--scrollbar-color: #2F3043;
--color-overlay: #0000004d;
--preloader-color: #6C2BF8;
--live-area-width: 100%;
--header-border-bottom: #252736;
--header-logo-font-size: 22px;
--header-logo-border-right: #252736;
--header-logo-border-bottom: #252736;
--header-track-border-right: #252736;
--header-box-display: none;
--header-box-background: #6C2BF8;
--panel-header-background: #252837;
--panel-body-padding: 15px;
--panel-border-color: #252837;
--button-border: #2F3043;
--button-text-color-hover: #6C2BF8;
--menu-border-right: #252736;
--menu-icon-font-size: 13px;
--menu-background-check: #6C2BF8;
--menu-button-border-color: #2F3043;
--submenu-border-right: #252736;
--submenu-text-color: #C6C6C6;
--submenu-text-hover: #6C2BF8;
--submenu-background-check: #6C2BF8;
--submenu-check-color: #FFFFFF;
--top-menu-border: #2F3043;
--top-menu-background-color: #2F3043;
--top-menu-background-check: #6C2BF8;
--top-menu-check-color: #fff;
--top-menu-hover-color: #6C2BF8;
--top-menu-color: #C6C6C6;
--top-submenu-background-color: #2F3043;
--top-submenu-text-color: #C6C6C6;
--top-submenu-text-hover: #6C2BF8;
--top-submenu-background-check: #6C2BF8;
--top-submenu-check-color: #fff;
--field-padding-horizontal: 8px;
--tr-hover-background: #252736;
--tr-hover-color: #FFFFFF;
--tr-even-background: #252736;
--tr-odd-background: #2F3043;
--table-body-color: #C6C6C6;
--table-header-color: #FFFFFF;
--modal-footer-background: #252837;
--modal-header-background: #6C2BF8;
--modal-header-color: #fff;
--button-box-shadow: none;
--panel-box-shadow: none;
--panel-header-color: #FFFFFF;
--panel-footer-background: #252837;
--header-text-color: #C6C6C6;
--header-box-shadow: none;
--menu-box-shadow: none;
--menu-user-splash-background: #2F3043;
--panel-header-font-size: 17px;
--panel-header-font-weight: 600px;
--panel-header-padding-vertical: 10px;
--panel-header-padding-horizontal: 10px;
--panel-header-border-color: transparent;
--header-logo-text-color: #FFFFFF;
--menu-background-button-circle: #252837;
--menu-color-button-circle: #C6C6C6;
--top-menu-background-button-circle: #6C2BF8;
--top-menu-color-button-circle: #FFFFFF;
--submenu-font-size: 15px;
--submenu-item-padding-horizontal: 12px;
--submenu-item-padding-vertical: 8px;
--modules-button-radius: 100px;
--panel-row-margin-bottom: 7px;
--tab-active-border-color: #252736;
--tab-active-background: transparent;
--tab-active-color: #8694B0;
--tab-border-color: transparent;
--tab-background: transparent;
--tab-color: #8694B0;
--tab-border-radius: 8px;
--tab-font-size: 15px;
--tab-font-weight: normal;
--table-header-font-size: 15px;
--table-header-font-weight: normal;
--table-header-background: transparent;
--table-header-border-color: #252736;
--table-header-padding-vertical: 12px;
--field-check-color: #fd9203;
--field-disabled-background: #191A24;
--field-disabled-text-color: #8694B0;
--field-disabled-border: #2F3043;
--name: chamado;
--field-border-top: 0px;
--field-border-right: 0px;
--field-border-left: 0px;
--field-border-radius: 0px;
--content-border-radius: 0px;
--panel-border-radius: 0px;
--field-padding-vertical: 0px;
--panel-padding: 0px;
--submenu-padding-horizontal: 0px;
--header-box-padding-horizontal: 0px;
--header-box-padding-vertical: 0px;
--header-logo-padding-horizontal: 0px;
--header-logo-padding-vertical: 0px;
--login-background-color: #252837;
--login-panel-header-background: #252837;
--login-panel-left-background-color: #252837;
--login-panel-right-background-color: #252837;
--login-button-background: #2F3043;
--login-button-text-color: #C6C6C6;
--login-panel-left-text-header-color: #FFFFFF;
--login-panel-left-text-header-align: left;
--login-panel-left-text-header-font-size: 40px;
--login-panel-left-text-header-font-weight: 700px;
--login-panel-left-text-footer-color: #C6C6C6;
--login-panel-left-text-footer-align: left;
--login-panel-left-text-footer-font-size: 30px;
--login-panel-left-text-footer-font-weight: 700px;
--login-panel-detail-display: flex;
--login-link-color: #FFFFFF;
--login-html: ;
--login-panel-detail-display-image: flex;
--login-panel-detail-display-details: flex;
--login-panel-detail-image-size: contain;
--login-panel-detail-image-position: center;
--login-panel-detail-direction: row;
--login-panel-max-width: 1250px;
--login-panel-max-height: 550px;
--login-panel-detail-force-full-image: ;
--login-panel-border-radius: 10px;
--login-panel-box-shadow:  0px 0px 10px 4px #0000004d;
--login-title-font-size: 40px;
--login-title-align: center;
--login-title-font-weight: 700px;
--login-title-color: #FFFFFF;
--login-header-font-size: 14px;
--login-header-align: left;
--login-header-color: #C6C6C6;
--login-border-color: #252837;
--login-panel-left-header-image-position: center;
--login-text-center-align: center;
--login-text-center-size: 18px;
--login-text-center-weight: 600px;
--login-text-center-color: #555;
--show-text-center: ;
}