#builder-layout  button:not(.beditorcss).pcr-button.clear {
    background: #1119B1 !important;
    margin-top: 0px !important;
    margin-right: 0px !important;
    margin-bottom: 0px !important;
    margin-left: 0px !important;
    padding-top: 7.5px !important;
    padding-right: 7.5px !important;
    padding-bottom: 7.5px !important;
    padding-left: 7.5px !important;
    box-shadow: none !important;
    color: rgba(0, 0, 0, 0.15) !important;
    font-size: 15px !important;
    font-weight: 400 !important;
    font-style: normal !important;
    text-decoration-line: none !important;
    text-align: center !important;
    border-top-style: solid !important;
    border-right-style: solid !important;
    border-bottom-style: solid !important;
    border-left-style: none !important;
    border-color: rgb(47, 48, 67) rgb(47, 48, 67) rgb(47, 48, 67) rgba(0, 0, 0, 0.15) !important;
    border-top-width: 0px !important;
    border-right-width: 0px !important;
    border-bottom-width: 2.23333px !important;
    border-left-width: 0px !important;
    border-top-right-radius: 0px !important;
    border-top-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}


